
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4.bootcss.com/favicon.ico">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4.bootcss.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" method="post" action="/reptilian/login_action/">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">蛇口没有雨天</h1>
        <p>从这里开始你的爬虫、web开发、自动化测试<code>:私人电影短评管理平台</code>  <a href="#">Works in latest Chrome, Safari, and Firefox.</a></p>
      </div>

      <div class="form-label-group">
        <input type="text" name="username"  class="form-control" placeholder="User Name" >
        <label >User Name</label>
      </div>

      <div class="form-label-group">
        <input type="password" name="password"  class="form-control" placeholder="Password" >
        <label >Password</label>
      </div>
        {{error}}

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
  </body>
</html>
