
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4.bootcss.com/favicon.ico">

    <title>报表统计</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4.bootcss.com/docs/4.0/examples/navbars/navbar.css" rel="stylesheet">
  </head>

  <body>



      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">早餐车项目</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/breakfast1/">报表统计 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">新增明细</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/breakfast_logout/">退出</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
    <div class="container">


          <div class="row" >
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                  <div class="text-success">
                    <h6 class="my-0">Promo code</h6>
                    <small>EXAMPLECODE</small>
                  </div>
                  <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>$20</strong>
                </li>
              </ul>

              <form class="card p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-8 order-md-1" >
              <h4 class="mb-3">新增明细数据</h4>
              <form class="needs-validation" novalidate method="post" action="/breakfast_create/">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label >金额</label>
                    <input type="text" class="form-control" name="price" placeholder="888" value="" required>
                    <div class="invalid-feedback">
                      请输入金额
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <!--<label >门店</label>-->
                    <!--<input type="text" class="form-control" name="store" placeholder="岗厦C" value="" required>-->
                    <!--<div class="invalid-feedback">-->
                      <!--请输入门店-->
                    <!--</div>-->
                     <label >门店</label>
                    <select class="custom-select d-block w-100" name="store" required>
                      <option value="">选择...</option>
                      <option>岗厦C</option>
                      <!--<option>科技园</option>-->

                    </select>
                    <div class="invalid-feedback">
                      请选择门店
                    </div>
                  </div>
                </div>

                <!--<div class="row">-->
                  <!--<div class="col-md-5 mb-3">-->
                    <!--<label >类型</label>-->
                    <!--<select class="custom-select d-block w-100" name="type" required>-->
                      <!--<option value="">选择...</option>-->
                      <!--<option>收入</option>-->
                      <!--<option>支出</option>-->

                    <!--</select>-->
                    <!--<div class="invalid-feedback">-->
                      <!--请选择明细类型-->
                    <!--</div>-->
                  <!--</div>-->

                <!--<div class="mb-3">-->
                  <!--<label for="username">Username</label>-->
                  <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text">@</span>-->
                    <!--</div>-->
                    <!--<input type="text" class="form-control" id="username" placeholder="Username" required>-->
                    <!--<div class="invalid-feedback" style="width: 100%;">-->
                      <!--Your username is required.-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

                <div class="mb-3">
                  <label >标题 <span class="text-muted">(remark)</span></label>
                  <input  class="form-control" name="remark" placeholder="XX号收入/支出" required>
                  <div class="invalid-feedback">
                    请输入标题
                  </div>
                </div>

                <div class="mb-3">
                  <label >备注</label>
                  <input type="text" class="form-control" name="other" placeholder="xx备注" >
                  <div class="invalid-feedback">
                    请输入备注
                  </div>
                </div>

                <!--<div class="mb-3">-->
                  <!--<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>-->
                  <!--<input type="text" class="form-control" id="address2" placeholder="Apartment or suite">-->
                <!--</div>-->

                <div class="row">
                  <div class="col-md-5 mb-3">
                    <label >类型</label>
                    <select class="custom-select d-block w-100" name="type" required>
                      <option value="">选择...</option>
                      <option>收入</option>
                      <option>支出</option>

                    </select>
                    <div class="invalid-feedback">
                      请选择明细类型
                    </div>
                  </div>
                  <!--<div class="col-md-4 mb-3">-->
                    <!--<label for="state">State</label>-->
                    <!--<select class="custom-select d-block w-100" id="state" required>-->
                      <!--<option value="">Choose...</option>-->
                      <!--<option>California</option>-->
                    <!--</select>-->
                    <!--<div class="invalid-feedback">-->
                      <!--Please provide a valid state.-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-3 mb-3">-->
                    <!--<label for="zip">Zip</label>-->
                    <!--<input type="text" class="form-control" id="zip" placeholder="" required>-->
                    <!--<div class="invalid-feedback">-->
                      <!--Zip code required.-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
                <!--<hr class="mb-4">-->
                <!--<div class="custom-control custom-checkbox">-->
                  <!--<input type="checkbox" class="custom-control-input" id="same-address">-->
                  <!--<label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>-->
                <!--</div>-->
                <!--<div class="custom-control custom-checkbox">-->
                  <!--<input type="checkbox" class="custom-control-input" id="save-info">-->
                  <!--<label class="custom-control-label" for="save-info">Save this information for next time</label>-->
                <!--</div>-->
                <!--<hr class="mb-4">-->

                <!--<h4 class="mb-3">Payment</h4>-->

                <!--<div class="d-block my-3">-->
                  <!--<div class="custom-control custom-radio">-->
                    <!--<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>-->
                    <!--<label class="custom-control-label" for="credit">Credit card</label>-->
                  <!--</div>-->
                  <!--<div class="custom-control custom-radio">-->
                    <!--<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>-->
                    <!--<label class="custom-control-label" for="debit">Debit card</label>-->
                  <!--</div>-->
                  <!--<div class="custom-control custom-radio">-->
                    <!--<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>-->
                    <!--<label class="custom-control-label" for="paypal">Paypal</label>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--&lt;!&ndash;<div class="col-md-6 mb-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="cc-name">Name on card</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" id="cc-name" placeholder="" required>&ndash;&gt;-->
                    <!--&lt;!&ndash;<small class="text-muted">Full name as displayed on card</small>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="invalid-feedback">&ndash;&gt;-->
                      <!--&lt;!&ndash;Name on card is required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-md-6 mb-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="cc-number">Credit card number</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" id="cc-number" placeholder="" required>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="invalid-feedback">&ndash;&gt;-->
                      <!--&lt;!&ndash;Credit card number is required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--&lt;!&ndash;<div class="col-md-3 mb-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="cc-expiration">Expiration</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" id="cc-expiration" placeholder="" required>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="invalid-feedback">&ndash;&gt;-->
                      <!--&lt;!&ndash;Expiration date required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-md-3 mb-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="cc-expiration">CVV</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" id="cc-cvv" placeholder="" required>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="invalid-feedback">&ndash;&gt;-->
                      <!--&lt;!&ndash;Security code required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
              </form>
            </div>
          </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
    <script src="https://v4.bootcss.com/assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
